html{
  background-image: url("./asset/blue\ background.jpg ");
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
.allbooks{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    border-radius: 50px;
}
.images{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 50px;
    padding-left: 40px;
    text-align: center;
   
    }

    .div1 { grid-area: 1 / 1 / 1 / 1; }
    .div2 { grid-area: 1 / 3 / 1 / 3; }
    .div3 { grid-area: 1 / 5 / 1 / 5; }
    .div4 { grid-area: 1 / 7 / 1 / 7; }
    .div5 { grid-area: 2 / 2 / 2 / 2; }
    .div6 { grid-area: 2 / 4 / 2 / 4; }
    .div7 { grid-area: 2 / 6 / 2 / 6; }

    .author{
     
        display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
    }
    #more {display: none;}
    *{
        border-radius: 12px;
    }
    .book1image,.book2image,.book3image,.book4image,.book5image,.book6image,.book7image{
        display:flex ;
        justify-content: center;
    }
 